* {margin:0; padding:0;}

body{background:#fffffA;}

header {
    width:100%;
    height: 82px;
    overflow: hidden;
    background:#013E75;
    margin-bottom: -15px;
}

.wrapper {
    width:90%;
    max-width:1000px;
    margin:auto;
    overflow:hidden;
}

div#menu {
    width: 150px;
    z-index: 2;
    position: absolute;
    margin-top: -505px;
    margin-left: -28px;
    font-family: tahoma;
    -webkit-transition: margin-left .6s;
}

div#menu:hover {
    margin-left: 0px;
}


div#menu ul {
    list-style: none;
}

div#menu ul li {
    padding: 15px 10px 15px 0px;
}

div#menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 12px 15px 10px 40px;
    margin: -2px;
    background: #068F3D;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 2px 2px #232323;
    -webkit-transition: padding .4s;
}

div#menu ul li a:hover{
    padding: 12px 15px 10px 60px;
}


.logo-title{
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
}

.header img {
    width: 80px;
    height: 82px;
    float: left;
}

.line-input{
    max-width: 45px;
    display: inline;
    border-bottom: 4px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    position: relative;
}

.border-input{
    border-bottom: 4px;
}




.line-input input{
    border-style: double;
    outline: 0px;
    margin-left: 5px;
    font-size: 20px;
    width: 40%;
    font-weight: 300;
    margin-top: 30px;
    font-family: 'arial';

    
}

.line-input label{
    font-size: 30px;
    position: relative;
    top: 10px;
    color: red;
}


.line-input p{
    font-size: 50px;
    position: relative;
    top: 7px;
    color: #013E75;
}

header .logo {
    color:#f2f2f2;
    font-size:14px;
    font-family:"Nexa";
    line-height: 80px;
    float:left;
    padding: 0px;
    padding-top: 0px;
}

header nav {
    float:right;
    line-height:60px;
    margin-left: 184px;
}

header nav a {
    color:#fff;
    padding:10px 20px;
    text-decoration:none;
    line-height: 80px;
    font-size:20px;
    font-family:"Nexa";
    font-weight:bold;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

header nav a:hover {
    background:#068F3D;
    border-radius:100%;
}

#salir:hover {
    background:red;
    border-radius:100%;
}

.header2 {
    position: fixed;
    height:100px;

}

.header2 .logo {
    line-height:100px;
    font-size:30px;
}

.header2 nav {
    line-height:100px;
}

.contenido p {
    margin-bottom:1em;
    text-align: justify;
}

.contenido h3 {
    display:block;
    padding:0px;
    color:#fff;
    text-align:center;
    background:#068F3D;
    margin-bottom:1em;
    /*border-radius: 50px;*/
}

@media screen and (max-width: 950px) {
    header .logo,
    header nav {
        width:100%;
        text-align:center;
        line-height:100px;
    }

    .header2 {
        height:auto;
    }

    .header2 .logo{
        line-height:50px;
    }

    .header2 nav {
        line-height:50px;
    }
}
